@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&display=swap");
body {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----------------Start Header Container------------ */
.header-container {
  display: flex;
  margin: 30px auto;
  background: #161616;
  width: 80%;
  max-width: 1200px;
  border-radius: 30px;
}
.header-info {
  margin-left: 5em;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 50%;
  color: #ffffff;
}

.header-title {
  font-size: 3.25em;
  line-height: 65px;
  margin-bottom: 20px;
  line-height: 55px;
  font-weight: 700;
  width: 335px;
}

.header-para {
  font-weight: 400;
  font-size: 14px;
  /* line-height: 26px; */
  margin-bottom: 2em;
  margin-right: 0;
  width: 428px;
}
.watch-live-btn a {
  text-decoration: none;
  color: #ffffff;
}
.watch-live-btn {
  font-weight: 400;
  text-align: center;
  padding: 10px 20px;
  background: #dd0000;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  transition: transform 0.1s;
}
.watch-live-btn:hover{
  transform: scale(1.1);
}
.fa-greater-than {
  margin-left: 10px;
}
.header-image {
  position: relative;
  top: 40.5px;
  right: 30px;
}
.header-image img {
  width: 400px;
}
/* ----------------End Header Container------------ */

/* ----------------start main section------------ */

.main-container {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
}
/* ----------------End main section------------ */

/* -----------start upcoming match-------------- */
.upcoming-matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}
.match {
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 40px 30px;
}
.flags {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flags span {
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
}
.germany-flag img,
.france-flag img {
  width: 90%;
}
.match-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.match-info h2 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.match-info p {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

/* -----------end upcoming match-------------- */

/* ----------------start container option------------ */
.container-options {
  width: 23%;
  height: 210px;
  margin-right: 20px;
  margin-left: 0;
  background: #161616;
  border-radius: 10px;
  position: sticky;
  left: 0;
  top: 0;
}
.container-options button {
  display: block;
  width: 150px;
  margin: 22px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.container-options button a {
  text-decoration: none;
  color: #161616;
  font-size: 15px;
  font-weight: 500;
}
.active {
  background: #dd0000;
}
#active-color {
  color: #ffffff;
}
/* ----------------end container option------------ */

/* ----------------start article container------------ */
.blog-container {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.blog {
  border: 1px solid #e8e8e8;
  border-radius: 7px;
}
.blog-image img {
  width: 90%;
}
.blog-info {
  margin: 0px 10px;
}
.blog-info p {
  font-weight: 600;
  font-size: 0.95em;
  margin: 12px 0;
}
.blog-info button {
  margin-top: 8px;
  font-weight: 500;
  cursor: pointer;
}
.upload-time-n-cmnts {
  display: flex;
  /* margin-left: 10px; */
}
.upload-time-n-cmnts span img {
  width: 18px;
}
.upload-time-n-cmnts span {
  margin-right: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
.view-all-btn {
  display: none;
}
/* ----------------end article container------------ */

/* ----------------start footer------------ */

footer {
  margin-top: 8em;
  width: 100%;
  background: black;
  padding: 2em 0;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
}
.footer-title {
  text-align: center;
  color: #ffffff;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer-menu ul li {
  list-style: none;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 2em;
}
.footer-menu ul li a {
  text-decoration: none;
  color: #b9b9b9;
  font-weight: 500;
  font-size: 1em;
}
.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square {
  color: white;
  font-size: 25px;
  padding: 0 15px;
}
.social-contact a {
  transition: transform 0.1s;
}
.social-contact a:hover {
  transform: scale(1.1);
}
/* ----------------end footer------------ */

/* ----------------start responsive website------------ */

@media screen and (max-width: 567px) {
  .header-container {
    flex-direction: column;
  }
  .header-info {
    margin: 40px auto;
    width: 100%;
  }
  .header-title {
    font-size: 20px;
    width: 215px;
    text-align: center;
    line-height: normal;
    margin: 0 auto;
  }
  .header-para {
    font-size: 12px;
    width: 200px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    padding-top: 15px;
  }
  .watch-live-btn {
    display: block;
    margin: 20px auto;
    padding: 5px 10px;
  }
  .header-image {
    position: static;
  }
  .header-image img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .main-container {
    flex-direction: column;
    margin-top: 20px;
  }
  .container-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background: #fff;
    border-radius: 0;
  }
  .container-options button {
    width: 150px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px 25px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
  }
  .container-options button a {
    font-size: 10px;
    font-weight: 500;
  }
  .blog-container,.upcoming-matches {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
  }
  .blog-image img {
    width: 100%;
  }
  .germany-flag img,.france-flag img{
    width: 90%;
  }
  footer {
    margin-top: 0;
  }
  .footer-menu ul {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }
  .footer-menu ul li {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/* -----Responsive for Tablet------------ */

@media screen and (min-width: 567px) and (max-width: 992px) {
  .header-info {
    margin-top: 4em;
    margin-left: 3.5em;
  }
  .header-title {
    font-size: 39px;
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .header-para {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
    height: 45px;
    width: 250px;
  }
  .header-image {
    position: absolute;
    top: 102.5px;
    right: 60px;
  }
  .header-image img {
    width: 95%;
  }
  .main-container {
    flex-direction: column;
  }
  .container-options {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
  }
  .container-options button {
    margin: 0;
    width: 30%;
    padding: 10px 15px;
    border: 1px solid #e8e8e8;
  }
  .container-options button a {
    font-size: 20px;
  }
  .hidden-blog {
    display: none;
  }
  .france-flag img,
  .germany-flag img {
    width: 90%;
  }
  .blog-container,.upcoming-matches {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-image img {
    width: 100%;
  }
  .view-all-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .view-all-btn button {
    padding: 8px 14px;
    background: #dd0000;
    border-radius: 5px;
    border: 1px transparent;
  }
  .view-all-btn button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }
  .footer-container {
    width: 100%;
  }
  hr {
    width: 80%;
    margin: 0 auto;
  }
  .footer-menu ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    padding: 0;
  }
  .footer-menu ul li {
    margin-right: 40px;
    /* border: 1px solid blue; */
  }
  .footer-menu ul li a {
    font-size: 18px;
  }
}
